.timelineGrid {
  background-color: #efefef;
  margin-top: 4rem !important;
  margin-bottom: 5rem !important;
}

.workingExperienceTitle {
    font-size: 2rem !important;
    text-transform: uppercase;
    margin-bottom: 1.5rem !important;
    font-family: "Heebo", sans-serif !important;
    font-weight: bold !important;
}

@media (max-width: 960px) {
    .workingExperienceTitle {
        text-align: center !important;
    }
}

.timelineTitle{
    font-size: 1rem !important;
    font-family: "Roboto", sans-serif !important;
    text-transform: uppercase;
    letter-spacing: 2px !important;
    font-weight: normal !important;
    margin-bottom: 0.5rem !important;
}

.timelineContainer {
  width: 100%;
}

.timelineContainer :global(.vertical-timeline) {
  width: 100% !important;
  max-width: 100% !important;
  padding: 0 !important;
}

html, body {
    overflow-x:hidden
}