.skillsGrid {
  margin-top: 2.5rem !important;
  margin-bottom: 4rem !important;
}

.skillsTitle {
  font-size: 2rem !important;
  text-transform: uppercase;
  margin-bottom: 1.5rem !important;
  font-family: "Heebo", sans-serif !important;
  font-weight: bold !important;
}

.coloredBorder{
  border-color: #134f5c !important;
}