.skillsGrid {
  background-color: #efefef;
  margin-top: 5rem !important;
  margin-bottom: 5rem !important;
}

.skillsTitle{
    font-size: 1rem !important;
    font-family: "Roboto", sans-serif !important;
    text-transform: uppercase;
    letter-spacing: 2.1px !important;
    font-weight: normal !important;
    margin-bottom: 1rem !important;
}